
/* 全局样式 */


.border-left-dark{border-left:1px solid #cecece;}
.border-left-light{border-left: 1px solid #fbfbfb;}
.border-right-dark{border-right: 1px solid #cecece;}
.border-right-light{border-right: 1px solid $fbfbfb;}
.ridus-3{border-radius: 0.1em 0.1em 0.1em 01em red}
.text-orange{color: #EC6104;}
.bg-orange{background-color: #EC6104;border: none;font-weight: 700;}
.bg-orange:hover,.bg-orange:active,.bg-orange.active,.bg-orange:focus{
	background-color: #FC5F03;border: none;font-weight: 700;
}

/* 组件样式 */


/* 页面统一样式 */
.bg-theme-1{
	background-color: #E8E8E8;
	border-bottom: 1px solid #CCCCCD;
	box-shadow: 1px 1px 5px #CCCCCD;
}
.bg-theme-1 li a{
	color: #666666;
	padding: 7px 8px 7px 8px;
}
.bg-theme-1>div>ul>li>a:hover{
	color: #EC6104;
}
.gradient{
	filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#F2F2F2,endcolorstr=#E6E6E6,gradientType=0);
	-ms-filter:alpha(opacity=100 finishopacity=50 style=1 startx=0,starty=0,finishx=0,finishy=150) progid:DXImageTransform.Microsoft.gradient(startcolorstr=#F2F2F2,endcolorstr=#E6E6E6,gradientType=0);/*IE8*/
	background:red; /* 一些不支持背景渐变的浏览器 */
	background:-moz-linear-gradient(top, #F2F2F2, rgba(230, 230, 230, 0.5));
	background:-webkit-gradient(linear, 0 0, 0 bottom, from(#F2F2F2), to(rgba(230, 230, 230, 0.5)));
}
.border-orange{
	border-bottom: 2px solid #EC6104;
	padding-top:10px; 
}

.row-content{
	margin-top: 40px;
}

.info{
	background-color: #FAFAFA;
	padding: 10px;
}

.info-bottom{
	border-top: 1px dashed #ccc;
	padding-top: 4px;
}
.footer{
	margin-top: 30px;
}
.copyRight {
	width: 500px;
	display: block;
	margin: 0 auto;
}